<div class="container-fluid home-start">
    <div class="col-md-6" id="info">
        <h2>A Home Dinner Service</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut augue neque, efficitur in justo et, pulvinar ullamcorper est. Etiam nec ante vestibulum, consequat urna in, tempus risus. Curabitur sit amet rhoncus neque, in fringilla nibh. Ut a lacinia nisl. Nulla suscipit augue at velit vulputate efficitur. Nulla eget porta enim. Suspendisse venenatis rhoncus sapien, at rhoncus dui feugiat a.</p>
        <p>Börja redan idag!</p>
        <a href="#/search" class="btn btn-primary">Create new dinner</a>
    </div>

</div>